<!doctype html>
<html lang="en">
    <style>
        body{
            height:100%;
        }
        #title{
            background-color: #1580cd;
            height:100px;
        }
        #petBanner{
            background-color: #669ec6;
        }
        .mascota{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .petImg{
            max-height: 200px;
            width: auto;
        }
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 70vh;
        }
        .btnCentrado{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:10px;
        }
        .margenSuperior{
            margin-top: 50px;
        }
    </style>
  <head>
    <title>Detalles</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">  
  </head>
    <!--Navigation bar para adoptantes-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #669ec6;">
        <a class="navbar-brand" href="./homeAdoptante.html"> <i class="fa fa-paw" aria-hidden="true"></i> Adopt a Friend</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="flex-grow-1">
                <form class="form-inline">
                    <input class="form-control col-sm-9 col-lg-10" type="text" placeholder="Busca y encuentra a tu compañero fiel">
                    <button class="btn btn-outline-light col-sm-3 col-lg-2" type="submit">Buscar</button>
                </form>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavId" >
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="./perfilAdoptante.html">Mi perfil</a>
                        <a class="dropdown-item" href="#">Mi mascota ideal</a>
                        <a class="dropdown-item" href="./adopcionesAdoptante.html">Mis adopciones</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./homeAdoptante.html"><i class="fa fa-home"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./favoritos.html"><i class="fa fa-heart"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</nav>
  <body>
    <div class="col-12" id="petsSection">
        <div class="row" id="title">
            <div class="col-6 align-self-center">
                <h1 style="color:white;">Pirata</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3  align-center">
                <div class="abs-center">
                <img class="card-img-top petImg" src="https://www.fundacion-affinity.org/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-5 ">
               <div class="card margenSuperior">
                <div class="card-body">
                    <h2 class="card-title">Pirata</h2>
                    <h5>Perro en adopción</h5>
                    <h5>Mestizo/Criollo</h5>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <b>Género</b>
                        </div>
                        <div class="col-6">
                            Macho
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Edad</b>
                        </div>
                        <div class="col-6">
                            Joven
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Tamaño</b>
                        </div>
                        <div class="col-6">
                            Mediano
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Localización</b>
                        </div>
                        <div class="col-6">
                            Guadalajara
                        </div>
                    </div>
                </div>
               </div>
               <div class="btnCentrado">
                <button type="button" class="btn btn-lg btn-primary btnCentrado"><i class="fa fa-paw" aria-hidden="true"></i> Adóptame</button><br>
                <button type="button" class="btn btn-lg btn-primary btnCentrado"><i class="fa fa-heart" aria-hidden="true"></i> Quitar favorito</button>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="card margenSuperior">
                    <div class="card-body">
                        <h2 class="card-title">Sobre el protector</h2>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <b>Nombre</b>
                            </div>
                            <div class="col-6">
                                Daniela Esparza
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>E-mail</b>
                            </div>
                            <div class="col-6">
                                dani.esp@gmail.com
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>Tel. principal</b>
                            </div>
                            <div class="col-6">
                                3323341482
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>Usuario</b>
                            </div>
                            <div class="col-6">
                                @desparza
                            </div>
                        </div>
                        <hr><br>
                        <a href="./rescatistaVistaAdoptante.html">Más adoptables de este protector</a>
                    </div>
                </div>
                <div class="card margenSuperior">
                    <div class="card-body">
                        <h2 class="card-title">Fiestero</h2>
                        <br>
                        <p>Pienso que todo es divertido, interesante y hecho para jugar, especialmente tú. Todo lo que hagas, yo también lo querré hacer. Con mi propia clase de sorpresas, vivir la vida como si fuera una fiesta</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>