<!doctype html>
<html lang="en">
    <style>
        #main{
            height:100vh; width:100vw;
            margin:0;
        }
        #filtersSection{
            background-color: #b6cddd;
            outline: lightblue;
            height:100vh;
        }
        #cardsSection{
            height:100vh;
        }
        #title{
            background-color: #1580cd;
            height:15%;
        }
    </style>
  <head>
    <title>Home Adoptante</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">  
</head>
    <!--Navigation bar para adoptantes-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #669ec6;">
        <a class="navbar-brand" href="./homeAdoptante.html"> <i class="fa fa-paw" aria-hidden="true"></i> Adopt a Friend</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="flex-grow-1">
                <form class="form-inline">
                    <input class="form-control col-sm-9 col-lg-10" type="text" placeholder="Busca y encuentra a tu compañero fiel">
                    <button class="btn btn-outline-light col-sm-3 col-lg-2" type="submit">Buscar</button>
                </form>
        </div>
        <div class="collapse navbar-collapse" id="collapsibleNavId" >
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="./perfilAdoptante.html">Mi perfil</a>
                        <a class="dropdown-item" href="#">Mi mascota ideal</a>
                        <a class="dropdown-item" href="./adopcionesAdoptante.html">Mis adopciones</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./homeAdoptante.html"><i class="fa fa-home"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./favoritos.html"><i class="fa fa-heart"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid" id="main">
        <div class="row">
          <div class="col-3" id="filtersSection">
            
          </div>
          <div class="col-9" id="cardsSection">
            <div class="row" id="title">
                <div class="col-6 align-self-center">
                    <h1 style="color:white;">Mascotas en adopción</h1>
                </div>
                <div class="col-6 align-self-center align-items-left">
                    <div class="d-flex flex-column align-items-end">
                        <button type="button" id="buscarFiltros" class="btn btn-light"><i class="fa fa-filter" aria-hidden="true"></i> Buscar por filtros</button>
                        <p></p>
                        <button type="button" id="buscarIdeal" class="btn btn-light"> <i class="fa fa-paw" aria-hidden="true"></i> Buscar mi mascota ideal</button>
                      </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>