<!doctype html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>
    <style>
        .carousel-item img {
            max-height: 300px;
        }
    
        .card-img-top {
            max-height: 250px;
            width: auto;
        }
    </style>
    
  <body>
    <!--Navigation bar para adoptantes-->
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center" style="background-color: #669ec6;">
        <a class="navbar-brand" > <i class="fa fa-paw" aria-hidden="true"></i> Adopt a Friend</a>
        
    </nav>
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-center" style="background-color: white;">
        <h3>Cuéntanos más sobre cómo sería tu mascota ideal</h3>
        
    </nav>

    <!-- Login--> 
    <div class="container " >
        <div class="row d-flex justify-content-center">
            <div class="card mt-5" style="background-color: #669ec6;">
                <div class="card-body justify-content-center">
                    <h4 class="card-title">Regístrate</h4>
                    <form>
                        <div class="form-group">
                            <label for="tipo">Tipo de mascota</label>
                            <select class="form-control" name="tipo" id="tipo" required>
                                <option>Perro</option>
                                <option>Gato</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="razaToAdd">Raza</label>
                            <select class="form-control" name="raza" id="razaToAdd" required>
                                <option>Mestizo/criollo</option>
                                <option>Dalmata</option>
                                <option>Pug</option>
                                <option>Chihuahua</option>
                                <option>Gran danés</option>
                                <option>Corgi</option>
                                <option>Golden retriever</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edad">Edad</label>
                            <select class="form-control" name="edad" id="edad" required>
                                <option>Cachorro</option>
                                <option>Joven</option>
                                <option>Adulto</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="genero">Género</label>
                            <select class="form-control" name="genero" id="genero" required>
                                <option>Macho</option>
                                <option>Hembra</option>
                            </select>
                        </div>
                    
                        <div class="form-group">
                            <label for="tamaño">Tamaño</label>
                            <select class="form-control" name="tamaño" id="talla" required>
                                <option selected>Pequeño</option>
                                <option>Mediano</option>
                                <option>Grande</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="perronalidad">Perronalidad</label>
                            <select class="form-control" name="perronalidad" id="perronalidad">
                              <option selected>Fiestero</option>
                              <option>Independiente</option>
                              <option>Dinámico</option>
                              <option>Divertido</option>
                              <option>Tímido</option>
                              <option>Juguetón</option>
                              <option>Faldero</option>
                              <option>Tapete</option>
                              <option>Inteligente</option>
                            </select>
                          </div>
                    </form>
                    <div class="form-group">
                        <div class="d-flex justify-content-center">
                            <a href="homeAdoptante.html" class="btn btn-light mt-3  col-lg-10">Login</a>
                            
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div style="border-top: 1px solid #000; padding-top:15px; font-size:85%">
                            <div class="d-flex justify-content-start">
                                <a style="color: #FFF;" href="registroRescatista.html" > ¿Quieres dar una mascota en adopción? Regístrate como rescatista</a>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    </div>
    <!-- Optional JavaScript -->
    <script src="/AdoptAFriend/app/controllers/utils.js"></script>
    <script src="/AdoptAFriend/app/controllers/ajax_handler.js"></script>
    <script src="/AdoptAFriend/app/utils/registroAdoptante_utils.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>