<!doctype html>
<html lang="en">
    <style>
        body{
            height:100%;
        }
        #title{
            background-color: #1580cd;
            height:100px;
        }
        #petBanner{
            background-color: #669ec6;
        }
        .mascota{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .petImg{
            max-height: 200px;
            width: auto;
        }
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 70vh;
        }
        .btnCentrado{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:10px;
        }
        .margenSuperior{
            margin-top: 50px;
        }
    </style>
    <head>
    <title>Detalles</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">  
    </head>
    <!--Navigation bar para rescatista-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #669ec6;">
    <a class="navbar-brand" href="./homeRescatista.html"> <i class="fa fa-paw" aria-hidden="true"></i> Adopt a Friend</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavId" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="./perfilRescatista.html">Mi perfil</a>
                    <a class="dropdown-item" href="./adopcionesRescatista.html">Mis adopciones</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./homeRescatista.html"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./solicitudesAdopcion.html"><i class="fa fa-bell"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" data-toggle="modal" data-target="#addPet"><i class="fa fa-plus"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./loginRescatista.html"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
</nav>
    <body>
    <div class="col-12" id="petsSection">
        <div class="row" id="title">
            <div class="col-6 align-self-center">
                <h1 id="nombreDetalles" style="color:white;"></h1>
            </div>
            <div class="col-6 align-self-center align-items-end">
                <div class="d-flex flex-column align-items-end">
                    <button type="button" id="editar" class="btn" onclick="editDetails()">
                    <i class="fa fa-edit fa-2x" style="color:white;"></i> 
                </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3  align-center">
                <div class="abs-center">
                <img id="imgDetalles" class="card-img-top petImg" src="" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-5 ">
                <div class="card margenSuperior">
                <div class="card-body">
                    <h2 id="nombreMascota" class="card-title"></h2>
                    <h5 id="tipoDetalles"></h5>
                    <h5 id="razaDetalles"></h5>
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <b>Género</b>
                        </div>
                        <div class="col-6">
                            <p id="generoDetalles"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Edad</b>
                        </div>
                        <div class="col-6">
                            <p id="edadDetalles"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Tamaño</b>
                        </div>
                        <div class="col-6">
                            <p id="tallaDetalles"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <b>Localización</b>
                        </div>
                        <div class="col-6">
                            <p id="ciudadDetalles"></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="card margenSuperior">
                    <div class="card-body">
                        <h2 class="card-title">Sobre el protector</h2>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <b>Nombre</b>
                            </div>
                            <div class="col-6">
                                <p id="nombreRescatista"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <b>E-mail</b>
                            </div>
                            <div class="col-6">
                                <p id="correoRescatista"></p>
                            </div>
                        </div>
                        <hr>
                        
                        
                        <div class="row">
                            <div class="col-6">
                                <b>Usuario</b>
                            </div>
                            <div class="col-6">
                                <p id="usuarioRescatista"></p>
                            </div>
                        </div>
                        <hr><br>
                    </div>
                </div>
                <div class="card margenSuperior">
                    <div class="card-body">
                        <h2 id="perronalidad" class="card-title"></h2>
                        <br>
                        <p id="perronalidadDetalles"></p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- Modal Add Pet -->
    <div class="modal fade" id="addPet" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir mascota</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-5">
                            
                                <div class="form-group">
                                    <label for="nombreToAdd">Nombre</label>
                                    <input type="text" name="nombre" id="nombreToAdd" class="form-control"
                                    placeholder="Nombre(s)" aria-describedby="helpId" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="tipoToAdd">Tipo de mascota</label>
                                    <select class="form-control" name="tipo" id="tipoToAdd" required>
                                        <option>Perro</option>
                                        <option>Gato</option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>  
                        <div class="form-group">
                            <label for="razaToAdd">Raza</label>
                            <select class="form-control" name="raza" id="razaToAdd" required>
                                <option>Mestizo/Criollo</option>
                                <option>Dalmata</option>
                                <option>Pug</option>
                                <option>Chihuahua</option>
                                <option>Gran danés</option>
                                <option>Corgi</option>
                                <option>Golden retriever</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edadToAdd">Edad</label>
                            <select class="form-control" name="edad" id="edadToAdd" required>
                                <option>Cachorro</option>
                                <option>Joven</option>
                                <option>Adulto</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="generoToAdd">Género</label>
                            <select class="form-control" name="genero" id="generoToAdd" required>
                                <option>Hembra</option>
                                <option>Macho</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tamañoToAdd">Tamaño</label>
                            <select class="form-control" name="talla" id="tallaToAdd" required>
                                <option selected>Pequeño</option>
                                <option>Mediano</option>
                                <option>Grande</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="perronalidadToAdd">Perronalidad</label>
                            <select class="form-control" name="perronalidad" id="perronalidadToAdd">
                                <option selected>Fiestero</option>
                                <option>Independiente</option>
                                <option>Dinámico</option>
                                <option>Divertido</option>
                                <option>Tímido</option>
                                <option>Juguetón</option>
                                <option>Faldero</option>
                                <option>Tapete</option>
                                <option>Inteligente</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad o municipio:</label>
                            <input type="text"
                            class="form-control" name="ciudad" id="ciudadToAdd" aria-describedby="helpId" placeholder="Ejemplo: Guadalajara">
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Link a imagen:</label>
                            <input type="text"
                            class="form-control" name="img" id="imagenToAdd" aria-describedby="helpId" placeholder="Ingrese un link">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="uploadPet()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="/AdoptAFriend/app/controllers/utils.js"></script>
    <script src="/AdoptAFriend/app/controllers/ajax_handler.js"></script>
    <script src="/AdoptAFriend/app/utils/detallesRescatistas_utils.js"></script>
    <script src="/AdoptAFriend/app/utils/addMascota_utils.js"></script>   
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>