<!doctype html>
<html lang="en">
    <style>
        body{
            height:100%;
        }
        #title{
            background-color: #1580cd;
            height:100px;
        }
        #petBanner{
            background-color: #669ec6;
        }
        .mascota{
            margin-top: 30px;
            margin-bottom: 10px;
        }
        .petImg{
            max-height: 200px;
            width: auto;
        }
        .abs-center {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 30vh;
        }
        .btnCentrado{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:10px;
        }
        .margenSuperior{
            margin-top: 50px;
        }
    </style>
  <head>
    <title>Solicitudes de adopción</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">  
  </head>
  <!--Navigation bar para rescatista-->
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #669ec6;">
    <a class="navbar-brand" href="./homeRescatista.html"> <i class="fa fa-paw" aria-hidden="true"></i> Adopt a Friend</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavId" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="./perfilRescatista.html">Mi perfil</a>
                    <a class="dropdown-item" href="./adopcionesRescatista.html">Mis adopciones</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./homeRescatista.html"><i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./solicitudesAdopcion.html"><i class="fa fa-bell"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-plus"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./loginRescatista.html"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>
</nav>
  <body>
    <div class="col-12" id="petsSection">
        <div class="row" id="title">
            <div class="col-6 align-self-center">
                <h1 style="color:white;">Solicitudes de adopción</h1>
            </div>
        </div>
        <div class="row solicitud">
            <div class="col-sm-6 col-md-4 col-lg-3  align-center">
                <div class="abs-center">
                <img class="card-img-top petImg" src="https://www.fundacion-affinity.org/sites/default/files/los-10-sonidos-principales-del-perro.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-5 ">
               <div>
                <div class="card-body">
                    <h2 class="card-title">Pirata</h2>
                    <h5>Busca ser adoptado por: Jennifer Hernandez</h5>
                    <br>
                    <button type="button" class="btn btn-lg btn-primary btnCentrado"><i class="fa fa-paw" aria-hidden="true"></i> Contactar</button><br>
                </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 ">
                <div class="abs-center">
                    <button type="button" class="btn btn-lg btn-success btnCentrado"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button><br><br>
                    <button type="button" class="btn btn-lg btn-danger btnCentrado"><i class="fa fa-times" aria-hidden="true"></i> Rechazar</button><br>
                </div>
            </div>
        </div>
        <hr>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>